# Expo/React Native
node_modules/
.expo/
dist/
npm-debug.*
yarn-debug.*
yarn-error.*

# Firebase e Variáveis de Ambiente

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ficheiros de Build e Sistema
.DS_Store
Thumbs.db
*.log

# Expo Go e Builds Nativas
ios/
android/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Cache
.cache/